mtsdisk:
    fullname: jenkins-home-{{ .Environment.Name }}
    enabled: true
    name: jenkins-mts-home
    pvcname: jenkins-mts-home-pvc
    type: azurefile
    azurefilesharename: backupfiles
    azurestorageaccountname: bXRzYmFja3Vw
    azurestorageaccountkey: OHlJT0FEZENndUwvdldVQ05lMnNtVkN4V0pzTGRMbEdRZkNwbmkybmV0dy9leXlxbWhCOHJsOVVDUmhYdXRXWWN1ckU1aEljU1ZleStxcCs4R1JIc2c9PQ==
    size: 8Gi
