graylog:
    tls:
        enabled: true
        certFile: /etc/graylog/server/server.cert
        keyFile: /etc/graylog/server/server.key
    serverFiles:
        server.cert: |
            -----BEGIN CERTIFICATE-----
            MIIDozCCAougAwIBAgIJALUK95wOberrMA0GCSqGSIb3DQEBCwUAMG4xCzAJBgNV
            BAYTAkNOMQswCQYDVQQIDAJPTjEPMA0GA1UEBwwGT3R0YXdhMRMwEQYDVQQKDApN
            eSBDb21wYW55MRQwEgYDVQQLDAtNeSBEaXZpc2lvbjEWMBQGA1UEAwwNKi5kdHMt
            c3RuLmNvbTAeFw0yMDA1MDUxNTI1NDFaFw0yMTA1MDUxNTI1NDFaMG4xCzAJBgNV
            BAYTAkNOMQswCQYDVQQIDAJPTjEPMA0GA1UEBwwGT3R0YXdhMRMwEQYDVQQKDApN
            eSBDb21wYW55MRQwEgYDVQQLDAtNeSBEaXZpc2lvbjEWMBQGA1UEAwwNKi5kdHMt
            c3RuLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMMKo6k4LOS/
            ea/OGhg26c/ClgjdZgWd5RaOvfYxiddC3CzUt9mgkRXZ270fo3cKuFah5+5FAgUO
            0tlH1/UcNakmokRanKnvtheh5P6XaFwL1EAZ3q6z7LFjqgmUOoQroBo75tWpBBFO
            2nwh3ZdWL++VzdzM68qzkwC49zVC4Qxro7voi1KDJT7VaqSDC2eiilKRt1sT8n7l
            ZcLXDhYIUZJDTxJlcadxHYTDdku0NPFvqwVPD585sM7U6uL0nhRTOTcTjLboOM8B
            X1rMP+33dTCKGEhKriJwlP/EbLjkDBbmgVWea8IyuDziBfU4FOa/P4J5u9v8Vbm9
            VW/RYkBl+dMCAwEAAaNEMEIwCwYDVR0PBAQDAgQwMBMGA1UdJQQMMAoGCCsGAQUF
            BwMBMB4GA1UdEQQXMBWHBMsAcSqCDSouZHRzLXN0bi5jb20wDQYJKoZIhvcNAQEL
            BQADggEBAEaSENv71l6pdg1DA0SxqP/KljC9sAgavnFitJznxzmeyEHPSqcKQybe
            mBpTJS/vg5YwU11vqorEsv28qNs33bvuDnA2MY+xiW64nhPHERldqeUoz5hC2NjL
            771bIm9yPMts6c2gcAcwuYopRrAXWoelzNjHwIugO05YfP3jI0SWwGJ2YC2oEwRX
            HFYShoTJ4im0NqqKeDCD8y9Tlv6FWTBIuFj4L5OMc+w3GtUsrWajCxB/MyV+mNXk
            yF7+Ed3AFXF6SM7Qntzc6LKJheF6h2rvXxXE43D/8kGAcNdf6FApjLlLfWtJStqV
            JJsHfKd+AQ1L7RTVoGJbner0JQXl1fo=
            -----END CERTIFICATE-----
        server.key: |
            -----BEGIN PRIVATE KEY-----
            MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDDCqOpOCzkv3mv
            zhoYNunPwpYI3WYFneUWjr32MYnXQtws1LfZoJEV2du9H6N3CrhWoefuRQIFDtLZ
            R9f1HDWpJqJEWpyp77YXoeT+l2hcC9RAGd6us+yxY6oJlDqEK6AaO+bVqQQRTtp8
            Id2XVi/vlc3czOvKs5MAuPc1QuEMa6O76ItSgyU+1WqkgwtnoopSkbdbE/J+5WXC
            1w4WCFGSQ08SZXGncR2Ew3ZLtDTxb6sFTw+fObDO1Ori9J4UUzk3E4y26DjPAV9a
            zD/t93UwihhISq4icJT/xGy45AwW5oFVnmvCMrg84gX1OBTmvz+Cebvb/FW5vVVv
            0WJAZfnTAgMBAAECggEANm6Xsjg9PzG40jmgyrU4l4TkvmCbgmHId30qwrSclXjR
            XamYDaJkG0cLrkJQKn7RZ0wUIEkeAS9b5MvKF1viFez0SENJiZuepAXIlMzIkTez
            6pfNr9AC9Jat87JsikpqiifBikt7GSF6lD4XS48AHcsfAsol3BI1qnP0eebKS96Z
            JK8CmBDYgWTtCV09pzaP6EZ6x0Vl9VRmY24D5hZKb3/HAZbJCA6TtE4ekDNuVvwL
            Pqyid2Ce6P5mWwcKVD8tGRG253E2LNTnj0fyAbvmUcA0a3dKraLulEk6LvBujhVM
            WZbvhF7rrQUsMTyuQ0cBkRlbNJsKj6o0n3YkT2ztgQKBgQD2oLD7xV3SCbLu3CIr
            vr9mVUBxjfwLmgxsRVr3wW6gzdjHLvl47TN8pYBy0Q4G1y+emN+lU5X6MlEn4pbi
            17zOBZd9GszSggtwbYAf5MwbbrfFfx0gpCm0RmeE4II9jnPJDgo8K/psr4PQyx2E
            C9lXe3AtPVdcAK9JjlpL7WkPswKBgQDKdBgUB3wnFidnguw9H5q73sVuQVHUxaE+
            Wz47KxyGRrHSshmphbPZGT0YRhPZzvhwJ3YIoE3v+a+/n0sYxdF+ejNAGzIUZCbx
            wG5Jf6ONvu5QfrgsmFDz05hw7UGtaNh4TVsB/sTu+o77t1iwtlIlKed8HdfZ6ZWy
            1pfQkhFdYQKBgD3hvAawUwYsoNUGLxzC08udgHn9okxW7t8L1/NqeZOnkskHpFkP
            S2fvLvegNODKhYxJ13PoMS2CCpLza+CnORyIkqY1X0dCkhQ3pXpbMkt/0GShrHFQ
            P5aYQ8k3e/ZuE+dSuoa2kjNLJsvw6wsC3hnxQwhW5+CR22mdalK60y25AoGAHz5f
            YOfuzxFqL11TG/O+q3OrwGIwQMfnJHpsVjFHC6npU3zM3Q6XPM/aT96wvZJlYNmW
            K6qhnIFKECaDLmWI+R3evuvzhJYYNILgAlPCZ+OpX57OyYMQKzDie7sBwcNGdPpr
            KxmoRsFAQ7R96XeZocafxNXONAEKazkW4MdKCsECgYEAzrIxNvS8GarjWIEmaNS9
            vOT8vMRsmMIee02ho8sDcaIVNko3hT2iwn34L8iTBoMpkM1zcYf6DytTQIQqKjSn
            Zk695KhOke6Rlr4eoH5pyNWIay8CbszW3xFDuP87DWNwz5NjOcmA8xFgRrI1kY1x
            W+xK+JekllxVWgzeMvLLdXc=
            -----END PRIVATE KEY-----
    ingress:
        enabled: true
        annotations:
        # kubernetes.io/ingress.class: traefik
        # kubernetes.io/tls-acme: "true"
        path: / 
        protocol: https
        hosts:
{{- if or (eq .Environment.Name "prod-blue") (eq .Environment.Name "prod-green") }}
        - graylog.{{ requiredEnv "ADMIN_DOMAIN" }}    
{{- else }}
        - graylog.{{ .Environment.Name }}.{{ requiredEnv "ADMIN_DOMAIN" }}    
{{- end }}
    rbac:
        create: true
    rootPassword: "{{ requiredEnv "GRAYLOG_PASSWORD" }}"
    replicas: 2
    env:
{{- if or (eq .Environment.Name "prod-blue") (eq .Environment.Name "prod-green") }}    
        GRAYLOG_HTTP_EXTERNAL_URI: https://graylog.{{ requiredEnv "ADMIN_DOMAIN" }}/
{{- else }}
        GRAYLOG_HTTP_EXTERNAL_URI: https://graylog.{{ .Environment.Name }}.{{ requiredEnv "ADMIN_DOMAIN" }}/
{{- end }}
    input:
        tcp:
            service:
                type: LoadBalancer
            ports:
                - name: gelf
                  port: 12201
                - name: beats
                  port: 5044
    transportEmail:
        enabled: true
        hostname: smtp.sendgrid.net
        port: 465
        useSsl: true
        useTls: false
        useAuth: true
        authUsername: gocdts
        authPassword: {{ requiredEnv "SENDGRID_PASSWORD" }}
        subjectPrefix: "Kombine"
        fromEmail: "gocmts@gmail.com"
    image:
        repository: "graylog/graylog:3.2.4"
{{- if or (eq .Environment.Name "prod-blue") (eq .Environment.Name "prod-green") }}
    replicas: 2
elasticsearch:
    client:
        replicas: 2
    master:
        replicas: 3
    data:
        replicas: 3
mongodb-replicaset:
    replicas: 3
{{- else }}
    replicas: 1
elasticsearch:
    client:
        replicas: 1
    master:
        replicas: 2
    data:
        replicas: 1
mongodb-replicaset:
    replicas: 2
{{- end }}
